html{
    font-family: toppan-bunkyu-midashi-min-st, serif;
    font-style: normal;
    font-weight: 900;
    background-color:#525659;
    color:#ffffff;
}

body{
    margin-top:0;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 3em;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #525659;
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.loader img {
    width:80%;
}


.index{
    padding: 0;
    /* padding-top:7em; */
    margin-top:0;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    margin-bottom:0.5em;
}

.index li{
    list-style: none;   
}

.index_li{
  cursor: pointer; 
  display: inline-block;
  transition: color 0.3s ease 0s;
}

.index_li:hover{
  color: #dc6688;
}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-top:10em;
}

.item::after {
    content: '';
    flex-grow: 1; /* 余白を埋める */
    width: calc(100% / 3); /* 要素の幅に合わせる */
}

.items{
    width:calc(100%/3);
}

.item img{
    width:100%;
    vertical-align: bottom;
    transition: transform 0.3s ease;
}
.item img:hover {
  transform: scale(0.9); /* 90%のサイズに縮小 */
}


@media screen and (min-width:751px){
    .items{
        width:20%;
    }

    .item img{
        width:100%;
    }

    .item::after{
        width:20%;
    }

    .typo_container::after{
        display: block;
        content:"";
        width: 20%;
    }

    .index{
        font-size: 2em;
        letter-spacing: 10px;
    }

    .navtext-container{
        padding-right:2em;
    }

    .navtext{
        font-size:1em;
        letter-spacing: 0;
    }

}


  /* Navbar & Navmenu color */
  :root {
    --background-navbar: #525659;
  }
  
  .header {
    background: var(--background-navbar);
    position: fixed;
    width: 100%;
    height:5em;
  }
  
  /* Nav items */
  .menu {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 80vh; /* 画面高さの80%に制限 */
    overflow-y: auto; /* 縦方向スクロールを有効に */
    top: 0;
    margin-top: 52px;
    padding: 0 0 10px 0;
    clear: both;
    background: var(--background-navbar);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
  }
  
  /* Hamburger menu button */
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  /* Hamburger menbu text */
  .menu a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 15px 0;
    margin: 0 54px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu-btn:checked ~ .menu a,
  .menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }
  
  .menu-btn {
    display: none;
  }
  
  .menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 30px 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  
  .navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before,
  .navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before {
    top: 9px;
  }
  
  .navicon:after {
    bottom: 9px;
  }
  
  /* Hamburger Menu Animation Start */
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  /* Hamburger Menu Animation End */
  
  /* Navbar Container */
  .navtext-container {
    width: 100%;
    height: 5em;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:2em;
    
  }
  
  /* Navbar Text */
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 1.2em;
  }

  .navtext a{
    text-decoration: none;
    color:#fff;
  }

  .navtext a::visited{
    color:#fff;
  }


  .index{
    padding: 0.2em;
    margin-top:1em;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    letter-spacing: 4px;

}

.index li{
    list-style: none;
    display: inline;
}